@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
    background-color: black;
}

main {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 320px;
    padding: 50px;
    text-transform: uppercase;
    border: #c9e265 solid 2px;
    background-color: black;
    color: #c9e265;
}

button:hover {
    border: white solid 2px;
    
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: #c9e265;
}

a:hover {
    color: white;
    transition: 0.5s;
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    border: #c9e265 solid 5px;
    padding: 20px 150px 20px 150px;
    
}

